<configuration>
   <system.webServer>
      <httpProtocol>


         <customHeaders>
            <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />

         </customHeaders>

      </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
            <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json; charset=utf-8" />
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="immutable" />
            </staticContent>
   </system.webServer>
<location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>