.cols2 {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  grid-template-rows: auto;
}

#mobiletimerecording1 .ovl-formcontrol-container {
  display: grid;
  grid-template-columns: 110px 1fr;
}

.ovl-detailview-container,
.ovl-bigeditform .ovl-formcontrol-container {
  display: grid;
  grid-template-columns: 110px 1fr;
}
.ovl-formcontrol-label {
  margin-top: 8px;
  font-size: small;
}

.ovl-formcontrol-textarea-input {
  height: 120px;
  font-size: small;
}

.ovl-formcontrol-textarea-label {
  margin-top: 30px;
  font-size: small;
}

@media screen and (max-width: 992px) {
  .ovl-detailview-label {
    margin-left: -20px;
  }
}

.ovl-tableview-rowcell__U_Decimal {
  color: green;
}

.testrowcell {
  cursor: pointer !important;
  text-decoration: underline;
  color: red;
  font-weight: bold;
  user-select: none;
}

.testheadercell {
  cursor: pointer !important;
  text-decoration: underline;
  color: limegreen !important;
  font-weight: bold;
  user-select: none;
}
