@font-face {
  font-family: "72Condensed";
  src: url(fonts/72/72-Condensed.woff2) format("woff2");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "72Condensed";
  src: url(fonts/72/72-CondensedBold.woff2) format("woff2");

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Regular.woff2) format("woff2");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Italic.woff2) format("woff2");

  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Light.woff2) format("woff2");

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: SAP-icons;
  src: url(icons/SAP-icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
