@font-face {
  font-family: "72Condensed";
  src: url(fonts/72/72-Condensed.woff2) format("woff2");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "72Condensed";
  src: url(fonts/72/72-CondensedBold.woff2) format("woff2");

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Regular.woff2) format("woff2");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Italic.woff2) format("woff2");

  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Light.woff2) format("woff2");

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url(fonts/72/72-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: SAP-icons;
  src: url(icons/SAP-icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* some overwritten fundamental styles
#############################################################
*/
.fd-alert {
  z-index: 1005;
}
.fd-table__header .fd-table__cell {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fd-table__cell {
  padding-left: 8px;
  padding-left: var(--fd-table-cell-spacing, 8px);
  padding-right: 8px;
  padding-right: var(--fd-table-cell-spacing, 8px);
  padding-top: 8px;
  padding-bottom: 8px;
}

.fd-table__cell:first-child {
  padding-left: 8px;
  padding-left: var(--fd-width-gutter, 8px);
}
.fd-table__cell:last-child {
  padding-right: 8px;
  padding-right: var(--fd-width-gutter, 8px);
}

.fd-popover__body {
  width: 100%;
  z-index: 1000 !important;
}

.fd-form-message {
  padding: 12 0 0 0;
  white-space: normal !important;
}

/* custom styles 
#############################################################
*/

.ovl-disabled {
  pointer-events: none;
}

/* firefox needs this to support breaks inside textarea */
@supports (-moz-appearance: none) {
  textarea {
    white-space: pre-wrap !important;
  }
}

.ovl-table-value-textarea {
  white-space: pre-wrap;
}

.ovl-detailview-container {
  margin-bottom: 1em;
}

.ovl-table-textarea-input {
  height: 70px;
}

.ovl-formcontrol-label {
  grid-area: label;
}
.ovl-formcontrol-value {
  grid-area: value;
}
.ovl-formcontrol-custom {
  grid-area: custom;
}
.ovl-formcontrol-validation {
  grid-area: validation;
}

.ovl-editform .ovl-formcontrol-custom {
  grid-area: custom;
}

.ovl-inlineeditform .ovl-formcontrol-checkbox-container {
  margin-top: 0px;
  margin-left: 10px;
}

.ovl-bigeditform .ovl-formcontrol-checkbox-input {
  margin-left: -10px;
}

.ovl-formcontrol-checkbox-container {
  margin-top: -10px;
}

.ovl-inlineeditform .ovl-formcontrol-checkbox-container {
  margin-top: 0px;
  margin-left: 10px;
}

.ovl-formcontrol-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "value"
    "custom"
    "validation";
}

.ovl-tableview-rowcell {
  vertical-align: middle;
}

.ovl-tableview-rowcell-LinkImage img {
  width: 128px;
}

.ovl-detailview-value-LinkImage img {
  width: 100%;
}

.menuDisabled {
  pointer-events: none;
  opacity: 0.6;
}
.stickyTableHeader {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
  background: #fff;
}
ovl-trg {
  display: table-row-group;
}

ovl-trow {
  display: table-row;
}

ovl-trowform {
  display: table-row;
}

ovl-trowcontrol {
  display: table-row;
}

ovl-trowsc {
  display: table-row;
}

ovl-tableheadermenu {
  display: table-row;
}

ovl-table {
  display: table;
  table-layout: fixed;
  --fd-width-gutter: 8px;
}

.ovl-bigedit-footer {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}

.ovl-bigeditform,
.ovl-tableheadermenu,
.ovl-detailview {
  width: 70vw;
  height: 92vh;
}

.ovl-dialog-TableHeaderMenu .ovl-dialog-body,
.ovl-dialog-EditFormBig .ovl-dialog-body {
  overflow-y: hidden;
  display: inline-flex;
}

.scrollableMobileOverlay {
  overflow-y: auto;
  height: calc(92vh - 60px);
  -webkit-overflow-scrolling: touch;
}

.scrollableOverlay {
  overflow-y: auto;
  height: calc(92vh - 60px);
  -webkit-overflow-scrolling: touch;
}

.scrollableMobile {
  overflow-y: auto;
  height: calc(100vh - 50px);
  -webkit-overflow-scrolling: touch;
}

.scrollable {
  overflow-y: auto;
  height: calc(100vh - 60px);
  -webkit-overflow-scrolling: touch;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
  }
}

@media (orientation: landscape) {
  .ovlsnackbar {
    width: 40vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (orientation: portrait) {
  .ovl-bigeditform,
  .ovl-detailview {
    width: 99vw;
    height: 92vh;
  }

  .ovlsnackbar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .chartwidth {
    width: 93vw;
  }
  .ovl-tableview-rowcell-LinkImage img {
    width: 80px;
  }
}

@media (min-width: 600px) {
  .chartwidth {
    width: 95vw;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeOutSnack {
  opacity: 0;
  animation-name: fadeOutSnack;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeOutSnack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutScreen {
  opacity: 0;
  animation-name: fadeOutScreen;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeOutScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutDialog {
  opacity: 0;
  animation-name: fadeOutDialog;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeOutDialog {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInDialog {
  opacity: 1;
  animation-name: fadeInDialog;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeInDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeInSnack {
  opacity: 1;
  animation-name: fadeInSnack;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInSnack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInScreen {
  opacity: 1;
  animation-name: fadeInScreen;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeInScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDisabled {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.44;
  }
}

@keyframes fadeInDisabled {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.44;
  }
}

@keyframes fadeOutDisabled {
  from {
    opacity: 0.44;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDisabled {
  from {
    opacity: 0.44;
  }

  to {
    opacity: 0;
  }
}

.fadeInDisabled {
  -webkit-animation-name: fadeInDisabled;
  animation-name: fadeInDisabled;
}

.fadeOutDisabled {
  -webkit-animation-name: fadeOutDisabled;
  animation-name: fadeOutDisabled;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.hide {
  display: none !important;
}
