ovl-trowcontrol,
ovl-tnavcontrol,
ovl-tableheadermenu,
ovl-table,
ovl-trow,
ovl-trg,
ovl-trowform,
ovl-trowformb,
ovl-trowdetailview,
ovl-trowsc,
ovl-textarea,
ovl-textbox,
ovl-checkbox,
ovl-listcontrol,
ovl-option,
ovl-hitlist,
ovl-timebox,
ovl-datebox,
ovl-dialog,
ovl-dialogholder,
ovl-snack,
ovl-controllabel {
  display: block;
}

ovl-controlcustomhint,
ovl-controlvalidationhint {
  display: inline;
}

.ovl-body {
  margin: 0;
  padding: 0;
  z-index: 0;
}

.ovl-body-scroll {
  overscroll-behavior: none;
  overflow: auto;
}
.ovl-body-noscroll {
  overflow: hidden;
  padding-right: 16px;
}

.ovl-body-noscroll-mobile {
  overflow: hidden;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fd-table__row:focus {
  outline: none !important;
  border-bottom: none !important;
  /* because default outline on rdp session chrome is always over controbuttons */
  /*border-top: 1.5px solid rgba(34, 180, 247, 0.568) !important;*/
  border-left: 4px solid rgba(34, 180, 247, 0.568) !important;
  border-right: 4px solid rgba(34, 180, 247, 0.568) !important;
}

/* some overwritten fundamental styles
#############################################################
*/
.fd-table__header .fd-table__cell {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fd-table__cell {
  padding-left: 8px;
  padding-left: var(--fd-table-cell-spacing, 8px);
  padding-right: 8px;
  padding-right: var(--fd-table-cell-spacing, 8px);
  padding-top: 8px;
  padding-bottom: 8px;
}

.fd-table__cell:first-child {
  padding-left: 8px;
  padding-left: var(--fd-width-gutter, 8px);
}
.fd-table__cell:last-child {
  padding-right: 8px;
  padding-right: var(--fd-width-gutter, 8px);
}

.fd-popover__body {
  width: 100%;
  z-index: 1000 !important;
}

.fd-form-message {
  padding: 12 0 0 0;
  white-space: normal !important;
  max-width: 100%;
}

/* custom styles 
#############################################################
*/

.ovl-row-selected {
  background-color: rgba(34, 180, 247, 0.568) !important;
}

.ovl-table-navrow:hover {
  background-color: initial;
}

.ovl-disabled__cursor-not-allowed {
  cursor: not-allowed;
}

.ovl-disabled {
  pointer-events: none;
  background-color: rgb(248, 245, 245) !important;
}

.ovl-dialog-Modal .ovl-dialog-body {
  padding: 12px;
}

/* firefox needs this to support breaks inside textarea */
@supports (-moz-appearance: none) {
  textarea {
    white-space: pre-wrap !important;
  }
}

.ovl-value-textarea {
  white-space: pre-wrap;
}

.ovl-detailview-container {
  margin-bottom: 1em;
}

ovl-controllabel {
  grid-area: label;
}
.ovl-formcontrol-value {
  grid-area: value;
}
ovl-controlcustomhint {
  grid-area: custom;
}
ovl-controlvalidationhint {
  grid-area: validation;
}
ovl-hitlist {
  grid-area: hitlist;
}

.ovl-editform .ovl-formcontrol-custom {
  grid-area: custom;
}

.ovl-inlineeditform .ovl-formcontrol-checkbox-container {
  margin-top: 0px;
  margin-left: 10px;
}

.ovl-bigeditform .ovl-formcontrol-checkbox-input {
  margin-left: -10px;
}

.ovl-formcontrol-checkbox-container {
  margin-top: -10px;
}

.ovl-inlineeditform .ovl-formcontrol-checkbox-container {
  margin-top: 0px;
  margin-left: 10px;
}

.ovl-formcontrol-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "value"
    "hitlist"
    "custom"
    "validation";
}

.ovl-tableview-rowcell {
  vertical-align: middle;
}

.ovl-tableview-rowcell-LinkImage img {
  width: 128px;
}

.ovl-detailview-value-LinkImage img {
  width: 100%;
}

.menuDisabled {
  pointer-events: none;
  opacity: 0.6;
}
.stickyTableHeader {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
  background: #fff;
}
ovl-trg {
  display: table-row-group !important;
}

ovl-trow {
  display: table-row !important;
}

ovl-trowform {
  display: table-row !important;
}

ovl-trowcontrol {
  display: table-row !important;
}

ovl-trowsc {
  display: table-row !important;
}

ovl-tableheadermenu {
  display: table-row !important;
}

ovl-table {
  display: table !important;
  table-layout: fixed;
  --fd-width-gutter: 8px;
}

.ovl-bigdialog-listtitle {
  font-size: medium;
  margin-bottom: 7px;
  box-shadow: 0px 24px 24px 0px #f5f3f3 inset;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
  }
}

@media (orientation: landscape) {
  .ovl-snacks {
    width: 40vw;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1005 !important;
  }
}

.ovl-snack {
  z-index: 1005 !important;
}

@media (orientation: portrait) {
  .ovl-snacks {
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1005 !important;
  }

  .chartwidth {
    width: 93vw;
  }
  .ovl-tableview-rowcell-LinkImage img {
    width: 80px;
  }
}

@media (min-width: 600px) {
  .chartwidth {
    width: 95vw;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeOutSnack {
  opacity: 0;
  animation-name: fadeOutSnack;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeOutSnack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutScreen {
  opacity: 0;
  animation-name: fadeOutScreen;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeOutScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutDialog {
  opacity: 0;
  animation-name: fadeOutDialog;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeOutDialog {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInDialog {
  opacity: 1;
  animation-name: fadeInDialog;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes fadeInDialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOutControl {
  opacity: 0;
  animation-name: fadeOutControl;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeOutControl {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInControl {
  opacity: 1;
  animation-name: fadeInControl;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInControl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInSnack {
  opacity: 1;
  animation-name: fadeInSnack;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInSnack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInScreen {
  opacity: 1;
  animation-name: fadeInScreen;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDisabled {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.44;
  }
}

@keyframes fadeInDisabled {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.44;
  }
}

@keyframes fadeOutDisabled {
  from {
    opacity: 0.44;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDisabled {
  from {
    opacity: 0.44;
  }

  to {
    opacity: 0;
  }
}

.fadeInDisabled {
  -webkit-animation-name: fadeInDisabled;
  animation-name: fadeInDisabled;
}

.fadeOutDisabled {
  -webkit-animation-name: fadeOutDisabled;
  animation-name: fadeOutDisabled;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.ovl-hide {
  display: none !important;
}
.ovl-hideControl {
  visibility: hidden !important;
}

.ovl-inputcontainer-datebox {
  position: relative;
}

.ovl-input-datepicker {
  position: absolute;
}

.ovl-input-datepickerffbutton {
  pointer-events: none;
  position: absolute;

  margin-left: 97%;
  font-size: 1.6em;
  z-index: 9;
}

.ovl-input-datepickertarget {
  position: inherit;
  width: 95%;
  z-index: 2;

  margin: 0;
  border: 0;
}

.ovl-input-datepicker:focus {
  outline: none !important;
}

.ovl-input-datepicker {
  margin: 0;
  border: 0;
}

.ovl-input-date {
  margin: 0;
  position: inherit;
  border: 0 !important;
}

.ovl-inputcontainer-datebox {
  height: 95%;
  height: 2.25rem;
}

.ovl-input-datepicker::-webkit-calendar-picker-indicator {
  padding-right: 0;
  outline: none;
}
